/* @font-face {
    font-family: "vazir10";
    src: url('./font/Vazir.ttf') format('ttf');
    
}
@font-face {
    font-family: "bYakan";
    src: url('./font/BYekan-webfont.ttf') format('ttf');
    src: url('./font/BYekan-webfont.eot') format('eot');
    src: url('./font/BYekan-webfont.woff') format('woff');
} */
@tailwind base;
@tailwind components;
@tailwind utilities;


